:root{
    --primary-color: #0d0d0d;
    --secondary-color: #ff7e5f; 
}


body{
    background-color: var(--primary-color);
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    height: 80px;
    position: fixed;
    width: 100%;
    border-bottom: #F2EBD5 0.5px solid;
}

.titulo{
    font-size: 35px;
    font-weight: 600;
}
.navbar > ul{
    display: flex;
}

.navbar > ul > a >  li{
    margin-right: 30px;
    font-size: 20px;
    color: white ;
}

.iconos {
    font-size: 35px;
    margin-right: 20px;
    color: white;
}

a .iconos:hover, a .categorias:hover{
    color: var(--secondary-color);
    transform: scale(1.05);
    transition: 0.1s ease-in ;
}

a, a:visited{
    text-decoration: none;
}

.principal{
    padding-top: 105px;
}

.presentacion{
    height: 400px;
    width: 99%;
    font-size: 70px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.presentacion > p{
    line-height: 1.2;
    font-weight: 700;
}

.nombre{
    background: linear-gradient(to bottom, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     font-weight: 700;
}

#subtitulo{
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}

.button{
    position: relative;
    border: none;
    transition: .4s ease-in;
    z-index: 1;
    width: 200px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: 700;
}

.button::before, button::after{
    position: absolute;
    content: "";
    z-index: -1;
}

button:hover{
    box-shadow: inset -10.5em 0 0 0 var(--secondary-color), 
    inset 10.5em 0 0 0 var(--secondary-color);
}