---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.tsx";
import Presentation from "../components/Presentation";
import Stack from "../components/Stack";
import Experience from "../components/Experience";
---

<Layout>
  <div class="grid justify-center min-h-screen w-full">
    <div
      class="flex flex-col items-center justify-center max-w-[1920px] w-full h-full"
    >
      <Header client:load />
      <Presentation client:load />
      <Stack client:load />
      <Experience client:load />
    </div>
  </div>
</Layout>
